.home-content {
  margin-top: 64px; /* same height as header */
  background-color: #f1f3f6;
  min-height: calc(100vh - 64px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
